*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  margin: auto;
  padding-top: 40px;
}

.side-bar {
  height: 90vh;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 40px;
  position: sticky;
  top: 40px;
}

.main-content {
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  /* height: 90vh; */
  background-color: #2a2a2a;
  padding: 40px;
}

.profile {
  text-align: center;
}

.profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}

.profile h2 {
  font-size: 1.5rem;
  font-size: 700;
  margin-top: 20px;
  color: #e0e0e0;
}

.profile p {
  background-color: #1e1e1e;
  padding: 5px 15px;
  color: #ffbf00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}

/* contact */

.contant {
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}

.em {
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}

.value {
  text-decoration: none;
  color: #e0e0e0;
}

.email {
  margin-bottom: 15px;
}

.phone {
  margin-bottom: 15px;
}

/* social */

.social {
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
  text-align: center;
}

.social img {
  height: 24px;
  width: 24px;
  margin-left: 7px;
  filter: grayscale(1) invert(0.7);
  transition: 0.4s ease;
}

.social img:hover {
  filter: grayscale(0) invert(0);
}

/* Navigation */

#navigation {
  /* padding: 30px 30px; */
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: end;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500px;
}

.activ {
  color: #ffbf00;
}

nav a:hover {
  color: #ffbf00;
  transition: 0.3s;
}

/* About Me */

#about {
  margin-bottom: 30px;
}

.hadding {
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 15px;
}

.line {
  width: 80px;
  height: 5px;
  margin-bottom: 15px;
  background-color: #ffbf00;
}

.content {
  text-align: justify;
  color: #a0a0a0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 35px;
}

.item {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  background-color: #1e1e1e;
  text-align: center;
   margin-top: 20px;
   transition: transform 0.3s ease, boxshadow 0.3 ease;
}

.item img {
  height: 48px;
  margin-bottom: 15px;
  width: 48px;
  filter: brightness(0) saturate(100%) invert(98%) sepia(58%) saturate(3138%)
    hue-rotate(346deg) brightness(100%) contrast(111%);
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
     transform: scale(1.1);
     box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}

#education{
margin-top: 30px;
}


.year{
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.degree{
  /* color: #e0e0e0; */
   margin-bottom: 5px;
   font-size: 1.4rem;
   color: #fbf9f9;
   font-weight: 500;
}

.college{
  color: #936262;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.ed-first, .ed-second{
  margin-bottom: 30px;
  position: relative;
  padding-left: 25px;
}

.goal{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* background-color: #ffbf00; */
  border: 5px solid #ffbf00;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
}

.edtech{
  position: relative;
}

.liner{
position: absolute;
width: 2px;
top: 4px;
left: 5px;
bottom: 4px;
border: 2px solid #3a3a3a;
}

.project-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 34px;
}

.project img{
  object-fit: cover;
  /* height: 100%; */
  width: 100%;
}

.project{
  overflow: hidden;
  border-radius: 12px;
 border: 1px solid #3a3a3a; 
  background-color: #1e1e1e;
  transition: transform 0.5 ease box-shadow 0.5 ease;
}

.project:hover{
  transform: translateY(-10px);
       box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}

.card{
  margin: 20px;
}

.card h3{
  color: #fbf9f9;
  font-size: bold;
}



.tags {
  margin-top: 20px;
}

.tags span {
  background: #222;
  color: #ffd700;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 8px;
}
